@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.hero-loader p {
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
  position: absolute;
  top: 40%;
  -webkit-text-stroke: 1px rgba(99, 99, 99, 0.45);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-shadow: none;
  z-index: -1;
  font-family: mont !important;
  font-weight: bold !important;
  position: static;
  font-size: 20vw;
  line-height: 40vh;
  letter-spacing: -22px;
  animation-fill-mode: forwards;
  font-family: 'Inter', sans-serif !important;

}

.hero-loader p:nth-of-type(1) {
  animation: p-loader 3000ms linear both;

}

.hero-loader p:nth-of-type(2) {
  animation: p-loader 6000ms linear both;

}


@keyframes p-loader {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}