*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background: linear-gradient(to right, #080b16, #0b2542) !important;
    font-family: 'Inter', sans-serif;  /* Added this line to apply the Inter font */
}

.webgl
{
    /* background: linear-gradient(to right, #104EFF, #00E0FF); */
    background-color: #101011;
    background: linear-gradient(to right, #0c1e3f, #040f1b);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    outline: none;
}

.loader{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: black;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.loader::after {
    content: "";
    border: 0.2em solid transparent;
    border-top: 0.2em solid #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 0.75s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


.container {
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:first baseline;
    align-items: flex-start;    
    gap: 25px;
    background-color: transparent;
}
@media (min-width: 640px) {
    .container h1{
        font-size: 2rem;
    }
}
.container p{
    margin-bottom: 4rem;
font-size: 1.2rem;
color: rgb(198, 216, 255);
width: 400px;
}
.container h1{
    font-size: 4rem;
    color: #b1c1f0;
    font-weight: bold;
    margin-bottom: 2rem; 
    width: 400px;
}
.logo{
    margin-top: 2%;
    margin-left: 3%;
    width: 150px;
    height: 100px;
    background-image: url("./logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}